textarea
{
    width: 49.6%;
    height: 99%;
    font-family: Hack, "Noto Mono", Input, Monaco, monofur, Consolas, "Lucida Console", "Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier, monospace;
    font-size: 1em;
}
